header {
  text-align: center;
}
h2 {
  display: inline-block;
}
div#wrapperHeader {
  width:100%;
  height:200px;
  background:url(../images/cat_header.png) no-repeat left center;
  background-position: center;
 }
